@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navList{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background: url(../media/solidbg.jpg); */
    background-image: linear-gradient(to bottom right, red , rgb(63, 151, 223));
    background-size: cover;
}

.navList li{
    list-style: none;
}

.svg{
    height: 20%;
    width: 9%;
    padding: 20px;
    margin-right: 75%;
}

.svg1{
    height: 31%;
    width: 9%;
    padding: 20px;
    margin-left: 75%;
}

.leftNav{
    width: 33%;
}

.midNav{
    width: 34%;
    font-family: 'Sacramento', cursive;
    font-size: 210%;
    text-align: center;
    padding-top: 1%;
    margin: 0%;
    color: black !important;
}

.rightNav{
    text-align: right;
    width: 33%;
}

.table{
    bottom: 0;
    position: sticky;
    width: 100%;
    height: 100%;
    border-spacing: 0px;
}

.item{
    width: 25%;
    text-align: center;
    background-color: rgb(230, 230, 230);
}

.btm-img{
    height: 30px;
    width: 30px;
}

.mid-top{
    padding: 10px 25%;
    width: 50%;
    display: flex;
    align-items: center;
}

.mid{
    padding: 20px 0px;
}

.pro{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro img{
    height: 60px;
    width: 40%;
    border: 3px solid rgb(241, 85, 46);
    border-radius: 100%;
}

.name{
    margin: auto;
    margin-left: 0;
    margin-right: 55%;
    font-size: 120%;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.mid-mid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid-mid img{
    width: 46%;
    height: 30%;
    border: 2px transparent rgb(221, 200, 200);
    border-radius: 10px;
}

.burgur{
    margin-top: 18px;
    cursor: pointer;
}

.line{
    width: 5px;
    background-color: black;
    height: 5px;
    margin: 5px 3px;
}

.inner{
    height: 100%;
    width: 10%;
    margin-left: 28%;
    margin-right: 32%;
}

.mid-bot{
    display: flex;
    align-items: center;
    justify-content: end;
}

.book{
    height: 30px;
    width: 30px;
}

.like-panel img{
    height: 30px;
    width: 30px;
}

.rload{
    display: flex;
    justify-content: center;
    align-items: center;
}

.load{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 49%;
}

.load img{
    height: 95%;
    width: 5%;
}

@media only screen and (max-width: 1400px){

    .mid{
        padding: 10px 0px;
    }

    .pro img{
        height: 53px;
        width: 70%;
    }

    .rload img{
        width: 35%;
    }

    .midNav{
        font-size: 165%;
    }

    .svg{
        padding: 16px;
        width: 23%;
        margin-right: 60%;
    }

    .svg1{
        width: 22%;
        padding: 10px;
        margin-left: 60%;
    }

    .mid-top{
        width: 100%;
        padding: 10px 2px;
    }

    .name{
        margin-right: 50%;
        font-size: 100%;
    }

    .burgur{
        margin-top: 5px;
    }

    .mid-mid img{
        width: 98%;
    }

    .inner{
        margin-left: 4%;
        margin-right: 52%;
    }

    .like-panel{
        padding-right: 10px;
    }

    .load{
        padding-left: 45%;
    }

    .load img{
        width: 20%;
    }
}
